ion-item {
    --highlight-color-focused: #ffd31a;
}

/** https://code-boxx.com/responsive-css-speech-bubbles/ **/
.speech {
    position: relative;
    font-family: arial;
    font-size: 1.1em;
    background: #a53d38;
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    max-width: 200px; 
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline-block;
    clear: both;
    padding: 15px;
    border-radius: 30px;
    margin-bottom: 2px;
}

.current-user {
    color: #000000;
    background: #ffd31a;
    float: right;
}

.contact {
    float: left;
    position: relative;
    background: #eee;
    color: #000000;
}

.current-user-timestamp {
    float: left;
}

.current-user+.contact {
    border-bottom-right-radius: 5px;
}

.contact+.contact {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.contact:last-of-type {
    border-bottom-right-radius: 30px;
}

/* https://www.w3schools.com/css/css_tooltip.asp */
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    width: 120px;
}

.left {
    left: 105%;
}

.right {
    right: 105%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}