<ion-header no-border>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>{{contact}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-toolbar [hidden]="!error" color="danger">
	<ion-title>An error has occured!</ion-title>
</ion-toolbar>

<ion-content>
	<ion-list class="ion-padding" #content>
		<ul>
			<span *ngFor="let message of messages">
				<span *ngIf="message.sent">
					<li [ngClass]="{'me tooltip': message.sent}">
						{{message.text}}
						<span class="tooltiptext right">{{message.timestamp}}</span>
					</li>
				</span>

				<span *ngIf="!message.sent">
					<li [ngClass]="{'him tooltip': !message.sent}">
						{{message.text}}
						<span class="tooltiptext">{{message.timestamp}}</span>
					</li>
				</span>
			</span>
		</ul>
	</ion-list>
</ion-content>

<ion-footer>
	<form [formGroup]="messageForm" (ngSubmit)="sendMessage(messageForm.value)">
		<ion-item lines="inset" class="ion-padding">
			<ion-textarea required type="text" name="message" formControlName="message" color="dark"
				placeholder="Send a message"></ion-textarea>
			<ion-button [disabled]="!messageForm.valid" type="submit" slot="end" color="warning">Send</ion-button>
		</ion-item>
	</form>
</ion-footer>