<ion-header>
	<ion-toolbar>
		<ion-title>Messages</ion-title>
		<ion-icon slot="end" name="moon"></ion-icon>
		<ion-toggle id="themeToggle" slot="end" color="warning" [checked]="isDarkMode"></ion-toggle>
	</ion-toolbar>
</ion-header>

<ion-toolbar [hidden]="!error" color="danger">
	<ion-title>{{errorMessage}}</ion-title>
</ion-toolbar>

<ion-content>
	<ion-list class="ion-padding">
		<ion-list-header>All Conversations</ion-list-header>

		<ion-item-sliding *ngFor="let message of messages">
			<ion-item button (click)="openChat(message.contact)">
				<ion-avatar size="large" slot="start">
					<img [src]="domSanitizer.bypassSecurityTrustResourceUrl(message.icon)">
				</ion-avatar>
				<ion-label>
					<h2>{{message.fullname}} ({{message.contact}})</h2>
					<h3>
						<span *ngIf="message.myself">You: </span>{{message.message}}
					</h3>
					<p>{{message.timestamp}}</p>
				</ion-label>
			</ion-item>
			<ion-item-options slot="end">
				<ion-item-option color="danger" (click)="deleteConversation(message.contact)">
					<ion-icon name="trash" size="large"></ion-icon>
				</ion-item-option>
			</ion-item-options>
		</ion-item-sliding>
	</ion-list>

	<ion-fab vertical="bottom" horizontal="end" slot="fixed" edge>
		<ion-fab-button color="warning">
			<ion-icon name="menu"></ion-icon>
		</ion-fab-button>
		<ion-fab-list side="top">
			<ion-fab-button color="light" (click)="doLogout()">
				<ion-icon name="exit"></ion-icon>
			</ion-fab-button>
			<ion-fab-button color="light" (click)="toSettings()">
				<ion-icon name="settings"></ion-icon>
			</ion-fab-button>
			<ion-fab-button color="light" (click)="toCreate()">
				<ion-icon name="add"></ion-icon>
			</ion-fab-button>
		</ion-fab-list>
	</ion-fab>
</ion-content>

<ion-footer>
	<ion-toolbar>
		<ion-title>Receiver</ion-title>
	</ion-toolbar>
</ion-footer>