<ion-header no-border>
	<ion-toolbar>
		<ion-title>Register</ion-title>
	</ion-toolbar>
</ion-header>

<ion-toolbar [hidden]="!error" color="danger">
	<ion-title>An error has occured!</ion-title>
</ion-toolbar>

<ion-content class="ion-padding">
	<form [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)">
		<ion-list>
			<ion-item>
				<ion-label position="stacked">
					First Name<ion-text color="danger"> *</ion-text>
				</ion-label>
				<ion-input required type="text" name="fname" formControlName="fname"></ion-input>
			</ion-item>

			<ion-item>
				<ion-label position="stacked">
					Last Name<ion-text color="danger"> *</ion-text>
				</ion-label>
				<ion-input required type="text" name="lname" formControlName="lname"></ion-input>
			</ion-item>

			<ion-item>
				<ion-label position="stacked">
					Username<ion-text color="danger"> *</ion-text>
				</ion-label>
				<ion-input required type="text" name="username" formControlName="username"></ion-input>
			</ion-item>

			<ion-item>
				<ion-label position="stacked">
					Password<ion-text color="danger"> *</ion-text>
				</ion-label>
				<ion-input required type="password" name="password" formControlName="password"></ion-input>
			</ion-item>

			<ion-button [disabled]="!registerForm.valid" type="submit" expand="block">Register</ion-button>

			<ion-button (click)="toLogin()" color="light" expand="block">Already have an account? Login</ion-button>
		</ion-list>
	</form>
</ion-content>